html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    /* Изображение будет адаптироваться под экран, убирает полосу прокрутки на разных размерах экрана */
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}

/* Убираем стандартные отступы у элиментов везде*/

body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.map_offece {}

.ofecee_adress {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: flex-start;
}

.contacts_container {
    display: flex;
}

.offece_card {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
    padding: 10px 20px 10px 20px;
    border: 2px solid #80808024;
    border-radius: 5%;
}

.icone_container_text {
    max-width: 290px;
    width: 100%;
}

.ofecee_adress .fa {
    font-size: 30px;
    color: #5d9e2c;
}

.icone_container_text h2 {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.icone_container_text p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Montserrat';
    margin-top: 10px;
}

.fas {}

.fa-location-dot {}