/*font-family: 'Open Sanas', sans-serif;
font-family: 'Oswald', sans-serif*/
/* Делаем первоначальные настройки, подходит для любого проекта. */
html {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    /* Изображение будет адаптироваться под экран, убирает полосу прокрутки на разных размерах экрана */
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
}

/* Убираем стандартные отступы у элиментов везде*/

body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: 'TildaSans';
    src: url('../fonts/TildaSans-VF.ttf') format('truetype'),
        url('../fonts/TildaSans-VF.woff') format('woff'),
        url('../fonts/TildaSans-VF.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.text-Tilda {
    font-family: 'TildaSans', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* Делаем затемнение */
.image_container {
    /* height: 1924px; */
    position: relative;
    background: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../image/Главная_2.jpg) !important;
    background: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    margin: 0px auto;
    display: inline-block;
    /* Ограничиваем размер контейнера — опционально */
    /* width: 100%; */
    /* max-width: 800px; */
    overflow: hidden;

}

/* Псвевдожлемент для затемнения */

.container {
    /* max-width: 1270px; */
    margin: 0px auto;
    /* padding-top: 100px; */
}

.contacts_header {
    display: flex;
    /* background-color: #fff; */
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 100px; */
    /* width: 1700px; */
    /* margin: 0px auto; */
    margin-bottom: 15px;
    margin-top: 15px;
}

.contacts {
    display: flex;
    gap: 40px;
    align-items: center;
    /* color: green; */
}

.header {}

.header_box {
    max-width: 1600px;
    margin: 0px auto;
}

.logo_container {
    /* position: absolute; */
    top: 0;
    left: 70px;
    width: 200px;
    height: 200px;
}

.logo_company {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}

.adress {
    color: green;

}

.qr-code {
    width: 100px;
    height: 100px;
}

.icon_header {
    font-size: 30px;
    color: #3084bb;
}


.project_name {
    color: #3084bb;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.offece_adress {
    color: #1f9fd0
}

.menu {
    /* margin-bottom: 30px; */
    /* background-color: #edeeef; */
    /* border-bottom: 2px solid; */
    max-width: 1700px;
    /* margin-bottom: 30px; */
    /* background-color: #edeeef; */
    /* border-bottom: 2px solid; */
    margin: 0px auto;
}

.menu_header {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px auto;
    font-size: 16px;
    text-transform: uppercase;
    /* max-width: 1410px; */
    /* background-color: #00BC00; */
    padding: 32px 0px 35px 8px;
    font-family: "TildaSans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}


.phone_number_block {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

.no-underline {
    text-decoration: none;
}


ul :hover {
    border: 3px solid wheat;
    /* Рамка при наведении */
    transition: border 0.3s;
    /* Плавный переход */
    padding: 5px 5px 5px 5px
}

.background_box {
    /* width: 100%; */
    /* занимает всю ширину контейнера */
    /* height: 100%; */
    /* занимает всю высоту контейнера */
    /* object-fit: cover; */
    /* заполняет контейнер с обрезкой краёв */
    /* display: block; */
    /* убирает отступ снизу */
}

.button_call {
    margin-left: 30px
}

background_image_container {}

/* Стили materialize для кнопки вызова */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}


.waves-effect input[type="button"],
.waves-effect input[type="reset"],
.waves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.waves-effect img {
    position: relative;
    z-index: -1;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}


.btn,
.btn-large,
.btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #61cc0c;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.btn,
.btn-large,
.btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
    font-size: 14px;
    outline: 0;
}

.btn,
.btn-large,
.btn-small,
.btn-flat {
    border: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter , sans-serif'
}

.btn_style {
    font-size: 16px;
    border-radius: 6px;
    height: 36px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 10px 20px 1px rgba(27, 191, 157, 0.35) !important;
    text-transform: math-auto;
    font-weight: bold;
}

/* Закрыл секцию */

.clients_icone {
    /* background-color: #edeeef; */
    background-color: #fff;
}

.h2_title {
    text-align: center
}

.icons_group {
    display: flex;
    justify-content: center;
    max-width: 1410px;
    margin: auto;
    gap: 100px;
}

.icone_size {
    width: 150px;
    height: 100px;
}

.h2_title {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    display: block;
    background-color: wheat;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container_clients {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #1f9fd0;
}

.icone_size {
    stroke: #000;
    /* Цвет обводки */
    stroke-width: 10px;
    /* Толщина обводки */
}

.text_p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #3084bb;
}

/* Для  текста под оверлеем */
.overlay-text {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 1;
}

.title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 35px;
    white-space: nowrap;
}

.info-section {
    position: absolute;
    top: 12%;
    /* left: 50%; */
    /* width: 80%; */
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 1;
    min-height: 350px;
    background-color: white;
    width: 350px;
}

.contact-info-title {
    font-family: 'TildaSans', Arial, sans-serif;
    font-size: 14px;
    color: #000
}

/* Стили для заимствованные с обратной формой */

.row_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Стили для окна формы обратной связи */
.feedback-form {
    position: absolute;
    max-width: 350px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 23%;
    left: 7%;
}

.h2_tltle {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'TildaSans', Arial, sans-serif;
}

.text_p2 {
    /* text-align: center; */
    color: gray;
    font-size: 14px;
    font-family: 'Montserrat', Arial, sans-serif;
}

.text_p2 span {
    color: #007bff;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.phone-container {
    display: flex;
    gap: 5px;
}

.phone-container select {
    flex: 0 0 60px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    font-size: 14px;
    color: #666;
}

.checkbox_agreement {
    color: #007bff;
    text-decoration: none;
}

.checkbox_button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 1px rgba(27, 191, 157, 0.35) !important;
}

button:hover {
    background-color: #218838;
}

.contact-info-title {
    margin-bottom: 15px
}

.form-group {}

.checkbox-group {}

/* Секция о нас */

.icon {
    font-size: 2em;
    color: #007bff;
    margin-right: 10px;
}

.advantage-item {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.about {
    padding-top: 30px;
    padding-bottom: 40px;
}

.about_flex {
    max-width: 1600px;
    display: flex;
    margin: 0px auto;
    gap: 15px
}

.abot_item {
    text-align: center;
    max-width: 250px;
}

.about_h3 {
    color: #61cc0c;
    font-size: 32px;
    font-family: 'Russo One', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.block_text {
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
}

.p_about {
    color: #222222;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Inter', Arial, sans-serif;
}

.rectangle {
    width: 97px;
    height: 6px;
    background-color: #61cc0c;
    margin: auto;
    margin-bottom: 15px;
}

.block_advantages {}

.h2_advantages {}

.advantages-grid {}

.advantage-item {}

.icon {}

.fa-solid {}

.fa-truck {}

.advantage_title {}

.fa-map-marked-alt {}

.fa-money-bill-wave {}

.fa-wrench {}

.fa-exclamation-triangle {}

.fa-people-roof {}

.fa-calendar-check {}

.fa-comments {}

.fa-certificate {}

.fa-cloud-upload-alt {}