.header_menu {
    min-height: 740px;
    background-image: url(../i) !important;
    background: no-repeat;
    background-size: cover;
}
.menu_logo {

}
.logo {
}
.logo_company {
}
.menu {
}
.menu_header {
}
