.header_menu {
    min-height: 740px;
    /* background-image: url(../image/midjourney_toe_bot_image_2026_04_02_21_43_25.png) !important; */
    background: no-repeat;
    background-size: cover;
    background-color: #edeeef;
}
.menu_logo {

}
.logo {
}
.logo_company {
}
.menu {
}
.menu_header {
}
/* Стили для кружков на первом изображении */
.background_image_title {
    display: flex;
    max-width: 1100px;
    margin: 0px auto;
    gap: 30px;
}
.circle{
    border-radius: 50%;
    width: ;
}
.cricle_1 {
}
.circle_2 {
}
.circle_3 {
}
