.header_menu {
    min-height: 740px;
    /* background-image: url(../image/midjourney_toe_bot_image_2026_04_02_21_43_25.png) !important; */
    background: no-repeat;
    background-size: cover;
    background-color: #dbdcdf;
}
.menu_logo {

}
.logo {
}
.logo_company {
}
.menu {
}
.menu_header {
}
.background_image_title {
}
.circle{
}
.cricle_1 {
}
.circle_2 {
}
.circle_3 {
}
